<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703590601488-v14mugq2fgtji2j8kjp9chtofeof9aoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703590601488-v14mugq2fgtji2j8kjp9chtofeof9aoh</string>
	<key>API_KEY</key>
	<string>AIzaSyDNqwCTQOevN4-ZUYK7pIrqKAeoJNct6z4</string>
	<key>GCM_SENDER_ID</key>
	<string>703590601488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CyberFacility.TrackFood</string>
	<key>PROJECT_ID</key>
	<string>trackfood-c2420</string>
	<key>STORAGE_BUCKET</key>
	<string>trackfood-c2420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703590601488:ios:c1e29e17121453178e4b95</string>
	<key>DATABASE_URL</key>
	<string>https://trackfood-c2420.firebaseio.com</string>
</dict>
</plist>