<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058754567152-a6gfo0pied7sb7kiatcmt2ecsjrhm3qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058754567152-a6gfo0pied7sb7kiatcmt2ecsjrhm3qn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058754567152-6gp8172dugu6mkfld8oajamt3q92ks1s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWNPkmbUCYApMjnd7Pl9oZMmMe1BlomXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1058754567152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CyberFacility.TrackFood</string>
	<key>PROJECT_ID</key>
	<string>covid-entrance-check</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-entrance-check.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058754567152:ios:13a898f3413f1c3cbd5b35</string>
	<key>DATABASE_URL</key>
	<string>https://covid-entrance-check.firebaseio.com</string>
</dict>
</plist>