<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129636961406-02j7uhdtv2re8lvu792n2tr78353csc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129636961406-02j7uhdtv2re8lvu792n2tr78353csc4</string>
	<key>API_KEY</key>
	<string>AIzaSyAfAiGsSsSQFjbz5pp8G4eZ_NKZP1stlbk</string>
	<key>GCM_SENDER_ID</key>
	<string>129636961406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyberFacility.TrackFood</string>
	<key>PROJECT_ID</key>
	<string>trackfood-1d5ae</string>
	<key>STORAGE_BUCKET</key>
	<string>trackfood-1d5ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129636961406:ios:80f00c9bb942b3db9fdc2f</string>
	<key>DATABASE_URL</key>
	<string>https://trackfood-1d5ae.firebaseio.com</string>
</dict>
</plist>